<div class="row">
    <div class="col-md-3"></div>

    
    <div class="col-md-6"> 
        <% flash.get('mensaje').forEach(function (msg) { %>
            <div class="alert alert-success" role="alert">
              <%=msg%>
            </div>
            <% }) %>
        <h1> Admin - Clientes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
               
                </tr>
            </thead>
            <tbody>
                <% listado.forEach( lista =>  { %>
                    <tr>
                        <td scope="row"><%=lista.id%></td>
                        <td scope="row"><%=lista.nombre%></td>
                        <td scope="row"><%=lista.email%></td>

                        <td><%=lista.activo ? "Si" : "No"%></td>
                            <td>
                                <% if (lista.activo) { %>
                                <a href="/admin/desactivar-cliente/<%=lista.id%>" class="btn btn-info">Desactivar cliente</a>
                                <% } else { %>
                                <a href="/admin/activar-cliente/<%=lista.id%>" class="btn btn-primary">Activar cliente</a>
                                <% } %>
                                </td>
                        </td>
                        <td>
                            <a href="/admin/opc/<%=lista.id%>" class="btn btn-primary">Ordenes</a>
        
                            </td>


                    </tr>
                    <% }) %>
    
                
            </tbody>
        </table>



        
    </div>
</div>